<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="roller_macro" params="parent name xyz rpy">
		<gazebo reference="roller_${name}_rim_${parent}_link">
			<material>Gazebo/Grey</material>
			<mu>0.0</mu>
			<mu2>0.0</mu2>
			<kp>100</kp>
			<kd>100</kd>
			<minDepth>0.005</minDepth>
			<maxVel>0.1</maxVel>
			<fdir1>0 0 1</fdir1>
		</gazebo>

		<link name="roller_${name}_rim_${parent}_link">
			<inertial>
				<mass value="0.113845"/>
				<inertia
					ixx="2.53776e-8"
					ixy="0"
					ixz="0"
					iyy="2.53776e-8"
					iyz="0"
					izz="1.47666e-8"
				/>
			</inertial>

			<visual>
				<geometry>
					<mesh filename="package://open_base/mesh/roller.stl" scale="${scale} ${scale} ${scale}"/>
				</geometry>
				<material name="Grey"/>
			</visual>

			<collision>
				<geometry>
					<mesh filename="package://open_base/mesh/roller.stl" scale="${scale} ${scale} ${scale}"/>
				</geometry>
			</collision>
		</link>
		
		<joint name="roller_${name}_rim_${parent}_joint" type="fixed">

			<parent link="rim_${parent}_link"/>
			<child link="roller_${name}_rim_${parent}_link"/>
			<axis xyz="0 0 1"/>
			<origin xyz="${xyz}" rpy="${rpy}"/>
			<dynamics damping="0.0" friction="0.0001"/>
		</joint>

	</xacro:macro>

</robot>
