<launch>
    <!-- GAZEBO -->
    <!-- <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" /> -->
    <include file="$(find gazebo_simulation)/launch/turtlebot3_engineering_building.launch" />


    <!-- GMAPPING -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" >
        <arg name="slam_methods" value="gmapping" />
        <!-- <arg name="slam_methods" value="cartographer" /> -->
    </include>

</launch>