<launch>
  <!-- Set Frame Name -->
  <arg name="map_frame" default="map"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="laser_frame" default="base_scan"/>

  <arg name="mode" default="slam" doc="robot mode [slam, localization]"/>

  <!-- Static Tranformation -->
  <node pkg="tf" type="static_transform_publisher" name="base_frame_to_laser_frame" args="0 0 0.5 0 0 0 $(arg base_frame) $(arg laser_frame) 30" />


  <!-- Map Server -->
  <include file="$(find map_server)/launch/map_server.launch" if="$(eval (arg('mode')=='localization'))">
  </include>

  <!-- Odometry -->
  <node pkg="localization_run" type="odometry" name="odometry" output="screen">
    <param name="odom_frame" type="str" value="$(arg odom_frame)"/>
    <param name="base_frame" type="str" value="$(arg base_frame)"/>
    <param name="rate"  value="50.0"/>
  </node>

  <!-- YDLidar -->
  <include file="$(find ydlidar_ros_driver)/launch/G6_G7.launch">
    <arg name="base_frame" value="$(arg base_frame)"/>
    <arg name="laser_frame" value="$(arg laser_frame)"/>
  </include>


  <!-- Run the EKF Localization node -->
  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find localization_run)/config/ekf_localization.yaml"/>
  </node> -->

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" if="$(eval (arg('mode')=='slam'))">
    <param name="base_frame" value="$(arg base_frame)"/>
    <param name="odom_frame" value="$(arg odom_frame)"/>
    <param name="map_frame"  value="$(arg map_frame)"/>
    <rosparam command="load" file="$(find localization_run)/config/gmapping_params.yaml"/>
  </node>

  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" output="log" if="$(eval (arg('mode')=='localization'))">
      <remap from="scan" to="scan" />
      <remap from="map" to="loc_map" />
      <remap from="/diagnostics" to="diagnostics" />

      <rosparam command="load" file="$(find localization_run)/config/amcl.yaml" />
  </node>

  <!-- RVIZ -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find localization_run)/rviz/slam.rviz" if="$(eval (arg('mode')=='slam'))"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find localization_run)/rviz/localization.rviz" if="$(eval (arg('mode')=='localization'))"/>
</launch>