<launch>
    <!-- Set Frame Name -->
    <arg name="map_frame" default="map"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="laser_frame" default="base_scan"/>

    <arg name="mode" default="slam" doc="robot mode [slam, localization]"/>
    <arg name="odom_type" default="omni" doc="omni type [diff, omni]"/>

    <!-- GAZEBO -->
    <include file="$(find gazebo_simulation)/launch/simul_robot.launch" >
        <arg name="odom_type" value="$(arg odom_type)"/>
    </include>

    <!-- GMAPPING -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen"  if="$(eval (arg('mode')=='slam'))">
        <param name="base_frame" value="$(arg base_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="map_frame"  value="$(arg map_frame)"/>
        <rosparam command="load" file="$(find localization_run)/config/gmapping_params.yaml"/>
    </node>

    <!-- AMCL -->
    <node pkg="amcl" type="amcl" name="amcl" output="log" if="$(eval (arg('mode')=='localization'))">
        <remap from="scan" to="scan" />
        <!-- <remap from="map" to="loc_map" /> -->
        <remap from="/diagnostics" to="diagnostics" />

        <rosparam command="load" file="$(find localization_run)/config/amcl.yaml" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz_slam" args="-d $(find localization_run)/rviz/sim_mapping.rviz"/>


</launch>