<launch>
    <arg name="odom_type" default="omni" doc="omni type [diff, omni]"/>

    <!-- GAZEBO -->
    <include file="$(find gazebo_simulation)/launch/simul_robot.launch">
        <arg name="odom_type" value="$(arg odom_type)"/>
    </include>

    <!-- GMAPPING -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="base_footprint"/>
        <param name="odom_frame" value="odom"/>
        <param name="map_frame"  value="map"/>
        <rosparam command="load" file="$(find localization_run)/config/gmapping_params.yaml"/>
    </node>

    <!-- <node pkg="rviz" type="rviz" name="rviz_slam" args="-d $(find localization_run)/rviz/sim_mapping.rviz"/> -->


</launch>