<launch>

    <node name="path_tracker" pkg="path_tracker" type="pathTracker" output="screen">

        <rosparam file="$(find path_tracker)/params/pathTracker.yaml" command="load"/>
        <param name="frame" type="string" value="map" />
        <remap from="/odom" to="open_base/odom"/>
        <remap from="cmd_vel" to="navi_cmd_vel" />
    </node>

</launch>