<launch>

    <!-- Set Frame Name -->
    <arg name="map_frame" default="map"/>
    <arg name="odom_frame" default="odom"/>
    <arg name="base_frame" default="base_link"/>
    <arg name="laser_frame" default="base_scan"/>

    <!-- Set Mode -->
    <arg name="mode" default="localization" doc="robot mode [slam, localization]"/>
    <arg name="sim_or_run" default="run" doc="program mode [sim (Simulation), run (Run robot)]"/>

    <!-- SLAM-Gmapping -->
    <include file="$(find localization_run)/launch/localization.launch">
        
        <arg name="mode" value="$(arg mode)"/>
        <arg name="sim_or_run" value="$(arg sim_or_run)"/>

        <arg name="map_frame" default="map"/>
        <arg name="odom_frame" default="odom"/>
        <arg name="base_frame" default="base_link"/>
        <arg name="laser_frame" default="base_scan"/>
    </include>
    
    <!-- Navigation -->
    <include file="$(find frontier_exploration)/launch/frontier_exploration.launch" if="$(eval (arg('mode')=='slam'))"/>

    <!-- Map Server -->
    <!-- <include file="$(find map_server)/launch/map_server.launch" if="$(eval (arg('mode')=='localization'))">
    </include> -->

    <!-- Subscribe: /move_base_simple/goal -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <!--when using pathTracker, needed to remap cmd_vel to another topic name-->
        <remap from="cmd_vel" to ="vel_obseleted" />

        <rosparam file="$(find navigation_run)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <!-- <rosparam file="$(find navigation_run)/config/costmap_common_params.yaml" command="load" ns="local_costmap" /> -->
        <rosparam file="$(find navigation_run)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find navigation_run)/config/global_planner_params.yaml" command="load" />
        <rosparam file="$(find navigation_run)/config/move_base_params.yaml" command="load" />

    </node>

    <!-- PathTracker -->
    <include file="$(find path_tracker)/launch/pathTracker.launch">
        <param name="map_frame"  value="$(arg map_frame)"/>
        <param name="odom_frame" value="$(arg odom_frame)"/>
        <param name="base_frame" value="$(arg base_frame)"/>
        <arg name="sim_or_run" value="$(arg sim_or_run)"/>

    </include>

    <!-- Interface -->
    <include file="$(find robot_interface)/launch/interface.launch">
        <arg name="map_frame" default="map"/>
    </include>

    <!-- RVIZ -->
    <node pkg="rviz" type="rviz" name="rviz_navi_slam" args="-d $(find navigation_run)/rviz/sim_navi_slam.rviz" if="$(eval (arg('sim_or_run')=='sim'))"/>

</launch>