<?xml version="1.0"?>
<robot name="open_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find open_base)/xacro/rim.urdf.xacro"/>
	<xacro:include filename="$(find open_base)/xacro/omni.gazebo.xacro"/>
	<xacro:include filename="$(find open_base)/xacro/material.xacro"/>
	<xacro:property name="scale" value="3.0"/>

	<gazebo reference="base_link">
		<material>Gazebo/White</material>
	</gazebo>

	<gazebo reference="base_scan">
		<material>Gazebo/Black</material>
	</gazebo>

	<link name="origin_link"/>

	<link name="base_link">
		<inertial>
      <mass value="0.5" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.045" ixy="0.0" ixz="0.0"
               iyy="0.045" iyz="0.0"
               izz="0.045" />
		</inertial>

		<visual>
			<geometry>
				<mesh filename="package://open_base/mesh/base.stl" scale="${scale} ${scale} ${scale}"/>
			</geometry>
			<material name="White"/>
		</visual>
		
		<collision>
			<geometry>
				<mesh filename="package://open_base/mesh/base.stl" scale="${scale} ${scale} ${scale}"/>
			</geometry>
		</collision>
	</link>

	<joint name="base_joint" type="fixed">
		<parent link="origin_link" />
		<child link="base_link" />
		<origin xyz="0 0 0.01905"/>
	</joint>

  <link name="base_scan">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/sensors/lds.stl" scale="${0.0004*scale} ${0.0004*scale} ${0.0004*scale}"/>
      </geometry>
			<material name="Brown"/>
    </visual>

    <collision>
      <origin xyz="0.0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0315" radius="0.055"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.02" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0" ixy="0.0" ixz="0.0"
               iyy="0.0" iyz="0.0"
               izz="0.005" />
    </inertial>
  </link>

	<joint name="scan_joint" type="fixed">
		<parent link="base_link" />
		<child link="base_scan" />
		<origin xyz="0 0 ${0.03+0.01905*scale}"/>
	</joint>

	<xacro:rim_macro
		name="left"
		color="Red"
		xyz="${-0.03464101615*scale} ${0.02*scale} 0"
		rpy="1.570796326794896 0 1.047197551196597"
	/>
	<xacro:rim_macro
		name="back"
		color="Green"
		xyz="0 ${-0.04*scale} 0"
		rpy="1.570796326794896 0 3.141592653589793"
	/>
	<xacro:rim_macro
		name="right"
		color="Blue"
		xyz="${0.03464101615*scale} ${0.02*scale} 0"
		rpy="1.570796326794896 0 -1.047197551196597"
	/>

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/open_base</robotNamespace>
		</plugin>
	</gazebo>

</robot>
