<launch>

	<include file="$(find open_base)/launch/parameter.launch"/>

	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="paused" default="true"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="x_pos" default="0.0" />
	<arg name="y_pos" default="0.0" />
	<arg name="z_pos" default="0.0" />

	<node name="open_base_spawner" pkg="gazebo_ros" type="spawn_model"
		args="-urdf -model robot -param robot_description -model open_base -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" ns="open_base">
	</node>
		
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="log" ns="open_base">

		<param name="publish_frequency" type="double" value="30.0"/>
		<remap from="/joint_states" to="/open_base/joint_states"/>

	</node>
	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="false" output="log" ns="open_base"/> -->

</launch>
