<launch>
    <!-- <arg name="map_file" default="$(find map_server)/map_config/engineering_building_0816.yaml"/> -->
    <arg name="map_file" default="$(find map_server)/map_config/map_house3.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" >
        <param name="frame_id" value="map" />
        <remap from="map" to="loc_map" />
    </node>

</launch>