<launch>
    <arg name="map_frame" default="map"/>
    
    <node pkg="robot_interface" name="robot_interface" type="robot_interface" output="screen">
        <rosparam file="$(find robot_interface)/config/interface.yaml" command="load"/>
        <param name="map_frame"  value="$(arg map_frame)"/>
    </node>
</launch>